
*.cache
obj/x64/Debug/MyToastNotification_MarkupCompile.cache
obj/x64/Debug/MyToastNotification.pdb
obj/x64/Debug/MyToastNotification.exe
obj/x64/Debug/MyToastNotification.csprojAssemblyReference.cache
obj/x64/Debug/MyToastNotification.csproj.FileListAbsolute.txt
obj/x64/Debug/MyToastNotification.csproj.CoreCompileInputs.cache
obj/x64/Debug/MainWindow.baml
obj/x64/Debug/MyToastNotification_MarkupCompile.cache
obj/x64/Debug/MyToastNotification.pdb
obj/x64/Debug/MyToastNotification.exe
obj/x64/Debug/MyToastNotification.csprojAssemblyReference.cache
obj/x64/Debug/MyToastNotification.csproj.FileListAbsolute.txt
obj/x64/Debug/MyToastNotification.csproj.CoreCompileInputs.cache
obj/x64/Debug/MyToastNotification_MarkupCompile.cache
obj/x64/Debug/MyToastNotification.pdb
obj/x64/Debug/MyToastNotification.exe
